/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f8f9;
}



/* HEADER */

header .logo{
  width: 100%;
  background-color:#ffffff;
  height: 80px;
}


header .logo img{
  vertical-align: middle;
  padding: 15px;
}

header .logo-text{
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
}

