/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f8f9;
}

.conteiner{
  width: 80%;
  background-color: rgb(168, 242, 255);
  /* height: 60px; */
  margin: 0 auto;
  border-radius: 5px;
  /* margin-top: 40px;; */
}

/* HEADER */
header .logo{
  width: 100%;
  background-color:#ffffff;
  height: 80px;
}


header .logo img{
  vertical-align: middle;
  padding: 15px;
}

header .logo-text{
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
}

/* NAV */
nav .nav{
  height: 60px;
  margin-top: 50px;
}


/* MAIN */
main .main{
  height: 1000px;
  margin-top: 2px;

}